/* Universal Styles */

body {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_foodlogo.png");
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
  }
  
  /* Navigation */
  
  nav {
    text-align: center;
  }
  
  nav img {
    display: block; /*is used to ensure that the <img> element behaves like a block-level element, allowing the application of margins and the width property*/
    width: 180px;
    margin:0 auto; /*top and bottom margins to 0 and automatically centering the element horizontally within its container*/
  }
  
  nav span {
    display: block;
    margin:10px 0; /* Set margin of 10 pixels top and bottom, 0 pixels left and right */
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
  }
  
  nav a {
    color: #666666;
  }
  
  /* Content Container */
  
  .content {
    margin: 10px auto; /* 10-pixel vertical margins and automatic horizontal margins */
    width: 100%;
    height: 500px;
    overflow:auto;/* Enable scrolling when content overflows */
  }
  
  /* Content Header */
  
  .header {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_burgerphoto.jpeg");
    background-position: center;
    background-size: cover; 
    height: 320px;/* Set the height of the .header class to 320 pixels */
    
  }
  
  .header h1 {
    background-color: #05A8AA;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
    width: 68%;
    padding: 20px;/* Create a 20-pixel padding for the h1 element inside .header */
    margin: 0px auto;/* Set vertical margins to 0 pixels and horizontal margins to be determined automatically */
  }
  
  /* Content Body */
  
  .content .body {
    width: 90%;
    margin: 0 auto; /* Automatic horizontal margins */
  }
  
  .body p {
    color: #333333;
    font-weight: 100;
    line-height: 34px;
    width: 90%;
    margin-top: 18px;
  }
  
  /* Content Button */
  
  .button {
    display: block;
    width: 200px;/* Set the width to 200 pixels */
    padding: 20px;/* Set the padding to 20 pixels */
    margin: 40px auto; /* Set vertical margins to 40 pixels and horizontal margins to automatic */
    border: 1px solid blue;/* Give the button a 1-pixel, solid, blue border */
    border-radius: 4px;
    color: #05A8AA;
    font-weight: 700;
  }
  
  .button:hover {
    background-color: #05A8AA;
    border: 1px solid #05A8AA;
    color: #FFF;
  }
  
  /* Content Nutrition */
  
  ul.nutrition {
    padding: 20px; /* Set the padding of the ul.nutrition element to 20 pixels */
   
  }
  
  ul.nutrition li {
    display: inline-block;/*Appear next to each other on the same line*/
    width: 200px; /* Set the width of li elements within ul.nutrition to 200 pixels */
    padding: 10px 20px;  /* Set a 10-pixel vertical padding and 20-pixel horizontal padding */
    margin-bottom: 3px;/* Add a 3-pixel bottom margin to the li elements */
    background-color: #05A8AA;
    list-style: none;
  }
  
  .nutrition .category {
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    display: block;
  }
  
  .nutrition .value {
    color: white;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 2px;
  }